* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Be Vietnam Pro;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
}

.box {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(16, 11, 11);
    font-size: 28px;
    font-weight: 800;
    border-radius: 5px;
    transition: flex-grow 0.5s ease;
}

#box1 {
    background-color: #f7cbe2;
}

#box2 {
    background-color: #f781be;
}

#box3 {
    background-color: #e62a8b;
}

.ctrlbuttons {
    background-color: #f6b9d7;
    color: white;
    padding: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.ctrlbuttons .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.boxpanel {
    padding: 9px;
    border: none;
    border-radius: 6px;
    background-color: #f781be;
}

.ctrlbuttons button,
.ctrlbuttons input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.ctrlbuttons button {
    background-color: #d10870;
    color: white;
}

.ctrlbuttons input {
    width: 50px;
    text-align: center;
}
