body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.controls {
    background-color: #512da8;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.controls .control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.controls button, .controls input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button {
    background-color: #673ab7;
    color: white;
}

.controls input {
    width: 50px;
    text-align: center;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    border-top: 2px solid #512da8;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

#box1 {
    background-color: #303f9f;
}

#box2 {
    background-color: #d32f2f;
}

#box3 {
    background-color: #388e3c;
}
