.body {
    width: 70vw;
    height: 80vh;
    margin: 2em auto;
    align-items: center;
}

body {
    text-align: center;
    background-image: url("feu-bg.png");
    background-size: cover;
    font-family: Radio Canada Big;
}

.img {
    transform: scale(1.15, 1.15);
    text-align: left;
}

h1 {
    font-family: Poetsen One;
    font-size: 5em;
}

h2 {
    font-size: 2.1em;
}

p {
    font-size: 1.6em;
    line-height: 2em;
}

.green {
    color: green;
    font-weight: bold;
}

.yellow {
    color: rgb(192, 158, 7);
    font-weight: bold;
}

.phrase {
    text-align: right;
    font-size: 1.2rem;
    font-style: italic;
    background-color: yellow;
    color: green;
    padding: 0 2rem 0 2rem;
    font-family:Lato;
    
}

.tag {
    
    text-align: right;
    font-style: italic;
    background-color: green;
    color: white;
    font-size: 1rem;
    padding: 0 2rem 0 2rem;
    align-self: flex-end;
    font-family:Lato;
}

.right {
    box-shadow: 10px 10px 5px black;
  }
