* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Be Vietnam Pro;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

nav {
    background-color: black;
    padding: 10px 0;
    height: fit-content;
    margin-bottom: 10px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
        width: 120px;
    }


.menu-list {
    display: flex;
}

.menu-li {
    list-style: none;
    margin-left: 30px;
}

.menu-li>a {
    font-size: 1.2rem;
    text-decoration: none;
    color: azure;
    transition: 0.5s all ease;
}

.menu-li>a:hover {
    color: #E90088;
    text-decoration: underline;
    text-underline-offset: 10px;
}

main .container {
    display: grid;
    grid-template-columns: repeat(3. 1fr);
    grid-template-rows: 40% 35% auto;
    height: 650px;
    grid-gap: 20px;
}

.main-image {
    grid-column: 1/3;
    grid-row: 1/2;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-image {
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.sub-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.coming {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid #663c7a;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-title {
    font-size: 1.1rem;
    text-align: center;
    color: #E90088;
    font-weight: 900;
}

.article-content {
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1.5;
}

.button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family:Be Vietnam Pro;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 3px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.button-72:hover {
    background-image: linear-gradient(#f7bbde, #E90088 50%);
}

.news {
    background-color: #663c7a;
    grid-column: 3/4;
    grid-row: 1/3;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.news-article {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.news-header {
    font-size: 1.9em;
    color: #fb4bb1;
}

.news-h2 {
    font-size: 1.1rem;
}

.news-p {
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.5;
}

.girls {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border: 2px solid #663c7a;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.girls-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.char-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.char-name {
    font-size: 1.4rem;
}

.char-role {
    font-size: 1rem;
    color: #E90088;
}
.char-quote{
    font-size: 0.7rem;
    font-style: italic;
    text-align: justify;
}

@media (min-width: 768px) {
    .button-72 {
        font-size: 21px;
        padding: 18px 34px;
    }
}
