* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
}

body {
    display: flex;
    background-image: url("bg\ image.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap:20px
}

.card{
    flex-grow: 1;
    flex-basis: 160px;
    padding: 20px;
    transition: border-color 0.3s;
}

.card img{ 
    max-width: 100%;
    height: auto;
}

.card:hover {
    border-color: rgb(253, 239, 149);
}

.bell { background-color: #fff599; }
.char { background-color: #fdbb57; }
.dra { background-color: #68bcf3; }
.ee {background-color:#dbaf5c;}
.jigg {background-color:#f1adee;}
.meow {background-color:#c2bfa8;}
.pik {background-color:#f5d362;}
.rat{background-color:#cea5f0;}
.snor{background-color:#4783f3;}
.squi{background-color:#a3f0f3;}
.veno{background-color:#af94ee;}

h1, .pokeball {
    display: none;
}
